<div id="footer">
  <div class="container text-center">
    <p>Copyright 2017 Brent Payton</p>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/jquery/3.2.0/jquery.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>

{{!-- Use mousewheel to page through photos. --}}
<script src="https://cdn.jsdelivr.net/mousewheel/3.1.13/jquery.mousewheel.min.js" integrity="sha256-jnOjDTXIPqall8M0MyTSt98JetJuZ7Yu+1Jm7hLTF7U=" crossorigin="anonymous" async></script>

{{!-- LightGallery --}}
<script src="https://cdn.jsdelivr.net/lightgallery/1.3.9/js/lightgallery.min.js" integrity="sha256-pSSvK0OcLS3lFi6N0wvOgjHfa0Lqfj+tZ6Tfn1PqqXc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/lg-fullscreen/1.0.1/lg-fullscreen.min.js" integrity="sha256-lcfZFYCvt4cOfmBDhD3LtioPmICRvQ9xofvDpt5LmcU=" crossorigin="anonymous" async></script>
<script src="https://cdn.jsdelivr.net/lg-hash/1.0.1/lg-hash.min.js" integrity="sha256-dtPzicIrNQpKgVY0PcVAVA4tAa7fPNs7RI7X2DpERbs=" crossorigin="anonymous" async></script>
<script src="https://cdn.jsdelivr.net/lg-thumbnail/1.0.3/lg-thumbnail.min.js" integrity="sha256-K7qNsAL87cdlcDefkAC2AhhSjbZru8UtUmyQdQaCqc8=" crossorigin="anonymous" async></script>
<script src="https://cdn.jsdelivr.net/lg-zoom/1.0.4/lg-zoom.min.js" integrity="sha256-oILQuzelWjUxHNYC31Xtsfh/rCMyzJyoDDbHnIpTieI=" crossorigin="anonymous" async></script>

{{!-- Bootstrap --}}
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>

{{!-- Local JS --}}
<script src="js/main.js" async></script>

{{!-- Google Analytics --}}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75040697-2', 'auto');
  ga('send', 'pageview');
</script>
