<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/img/logo03_small.png" class="img-responsive" alt="" /></a>
        </div>
        <div class="collapse navbar-collapse" id="mynavbar-content">
            <ul class="nav navbar-nav">
                <li><a class="home nav" href="/"><b>Home</b></a></li>
                <li><a class="nature nav" href="/nature">Nature</a></li>
                <li><a class="travel nav" href="/travel">Travel</a></li>
                <li><a class="other nav" href="/other">Other</a></li>
                <li><a class="about nav" href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>
