  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <a href="/nature#lg=1&slide=11" title="'Human Will'"><img src="img/nature/joshua_tree.jpg" class="img-responsive center-block" alt=""></a>
              <p class="text-center"><a href="/nature#lg=1&slide=11">"Joshua Tree"</a> from the Nature Gallery</p>
          </div>
      </div>
  </div>
