<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{!-- <a href="/nature#lg=1&slide=5" title="Blueberry"> <img src="img/nature/blueberry.jpg" class="img-responsive center-block" alt=""></a> --}}

    <a href="/nature#lg=1&slide=5" title="Blueberry">
      <picture>
        <img
          class="img-responsive center-block" 
          sizes="(max-width: 2048px) 100vw, 2048px"
          srcset="
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_200.jpg 200w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_469.jpg 469w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_666.jpg 666w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_822.jpg 822w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_1208.jpg 1208w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_1206.jpg 1206w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_1307.jpg 1307w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_1402.jpg 1402w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_1482.jpg 1482w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_1562.jpg 1562w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_1638.jpg 1638w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_1718.jpg 1718w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_1783.jpg 1783w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_1850.jpg 1850w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_1913.jpg 1913w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_1975.jpg 1975w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_2035.jpg 2035w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_2044.jpg 2044w,
            img/nature/blueberry/blueberry_rrl81b_c_scale,w_2048.jpg 2048w"
          src="img/nature/blueberry.jpg"
          alt="">
      </picture>
    </a>

      <p class="text-center"> <a href="/nature#lg=1&slide=5">"Blueberry"</a> from the Nature Gallery </p>
    </div>
  </div>
</div>
