<div id="lightgallery" class="container">

    <a
      href="img/nature/meadow_buttercup.jpg"
      class="light-link"
      title="<h4>Meadow Buttercup, <i>Ranunculis Acris</i></h4><p>Prague Botanical Gardens</p>">
      <img
        alt=""
        class="image-responsive grid-img-lg"
        src="img/nature/thumbs/meadow_buttercup.jpg"
      />
    </a>

    <a href="img/nature/odl1.jpg"
      class="light-link"
      title="<h4>Orange Day Lily 3</h4><p>Austin">
      <img
        alt=""
        class="image-responsive grid-img-lg"
        src="img/nature/thumbs/odl1.jpg"
      />
    </a>

    <a href="img/nature/pukiawe.jpg"
      class="light-link"
      title="<h4>Pukiawe</h4><p>Hawaii</p>">
      <img
        alt=""
        class="image-responsive grid-img-lg"
        src="img/nature/thumbs/pukiawe.jpg"
      />
    </a>

    <a href="img/nature/gerbera.jpg"
      class="light-link"
      title="<h4>Red Gerbera</h4><p>Austin</p>">
      <img
        alt=""
        class="image-responsive grid-img-lg"
        src="img/nature/thumbs/gerbera.jpg"
      />
    </a>

    <a href="img/nature/red_rose.jpg"
      class="light-link"
      title="<h4>Red Rose</h4><p>Zilker Botanical Garden, Austin</p>">
      <img
        alt=""
        class="image-responsive grid-img-lg"
        src="img/nature/thumbs/red_rose.jpg"
      />
    </a>

    <a href="img/nature/blueberry.jpg"
      class="light-link"
      title="<h4>Wild Blueberry</h4><p>Denny Creek Trail near Seattle</p>">
      <img
        alt=""
        class="image-responsive grid-img-lg"
        src="img/nature/thumbs/blueberry.jpg"
      />
    </a>

    <a href="img/nature/foxglove.jpg"
      class="light-link"
      title="<h4>Foxglove</h4>">
      <img
        alt=""
        class="image-responsive grid-img-lg"
        src="img/nature/thumbs/foxglove.jpg"
      />
    </a>

    <a href="img/nature/orange_leaf.jpg"
      class="light-link"
      title="<h4>Orange Leaf on the Shore</h4><p>Iron Springs Resort, Washington.</p>">
      <img
        alt=""
        class="image-responsive grid-img-lg"
        src="img/nature/thumbs/orange_leaf.jpg"
      />
    </a>

    <a href="img/nature/palm_trunks.jpg"
      class="light-link"
      title="<h4>Palm Trunks</h4><p>Jopshua Tree National Park, California</p>">
      <img
        alt=""
        class="image-responsive grid-img-lg"
        src="img/nature/thumbs/palm_trunks.jpg"
      />
    </a>

    <a href="img/nature/spider_lily.jpg"
      class="light-link"
      title="<h4>Spiker Lily</h4><p><i>Lycoris Radiata</i></p>">
      <img
        alt=""
        class="image-responsive grid-img-lg"
        src="img/nature/thumbs/spider_lily.jpg"
      />
    </a>

    <a href="img/nature/sunflower.jpg"
      class="light-link"
      title="<h4>Sunflower Profile</h4><p>Austin</p>">
      <img
        alt=""
        class="image-responsive grid-img-lg"
        src="img/nature/thumbs/sunflower.jpg"
      />
    </a>

    <a href="img/nature/three_peppers.jpg"
      class="light-link"
      title="<h4>Three Cayenne Peppers</h4><p>Austin</p>">
      <img
        alt=""
        class="image-responsive grid-img-lg"
        src="img/nature/thumbs/three_peppers.jpg"
      />
    </a>

</div>
