<title>Photon Art Nature Gallery</title>

<div id="lightgallery" class="container">
    <a href="img/nature/meadow_buttercup.jpg"
        title="<h3>Meadow Buttercup</h3><p>Prague Botanical Gardens</p>">
        <img class="image-responsive grid-img-lg" src="img/nature/thumbs/meadow_buttercup.jpg" />
    </a>

    <a href="img/nature/monarch.jpg">
        <img class="image-responsive grid-img-lg" src="img/nature/thumbs/monarch.jpg" />
    </a>

    <a href="img/nature/odl1.jpg">
        <img class="image-responsive grid-img-lg" src="img/nature/thumbs/odl1.jpg" />
    </a>
    <a href="img/nature/pukiawe.jpg">
        <img class="image-responsive grid-img-lg" src="img/nature/thumbs/pukiawe.jpg" />
    </a>

    <a href="img/nature/gerbera.jpg">
        <img class="image-responsive grid-img-lg" src="img/nature/thumbs/gerbera.jpg" />
    </a>

    <a href="img/nature/red_rose.jpg">
        <img class="image-responsive grid-img-lg" src="img/nature/thumbs/red_rose.jpg" />
    </a>
</div>
