<div id="lightgallery" class="container">
    <a href="img/nature/meadow_buttercup.jpg"
      title="<h4>Meadow Buttercup, <i>Ranunculis Acris</i></h4>
      <p>Prague Botanical Gardens</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/nature/thumbs/meadow_buttercup.jpg" />
    </a>

    <a href="img/nature/monarch.jpg"
      title="<h4>Monarch Butterfly and Wild Grape Vines</h4><p>Walnut Creek Park, Austin">
      <img alt="" class="image-responsive grid-img-lg" src="img/nature/thumbs/monarch.jpg" />
    </a>

    <a href="img/nature/odl1.jpg"
      title="<h4>Orange Day Lily 3</h4><p>Austin">
      <img alt="" class="image-responsive grid-img-lg" src="img/nature/thumbs/odl1.jpg" />
    </a>

    <a href="img/nature/pukiawe.jpg"
      title="<h4>Pukiawe</h4><p>Hawaii</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/nature/thumbs/pukiawe.jpg" />
    </a>

    <a href="img/nature/gerbera.jpg"
      title="<h4>Red Gerbera</h4><p>Austin</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/nature/thumbs/gerbera.jpg" />
    </a>

    <a href="img/nature/red_rose.jpg"
      title="<h4>Red Rose</h4><p>Zilker Botanical Garden, Austin</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/nature/thumbs/red_rose.jpg" />
    </a>

    <a href="img/nature/blueberry.jpg"
      title="<h4>Wild Blueberry</h4><p>Denny Creek Trail near Seattle</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/nature/thumbs/blueberry.jpg" />
    </a>

    <a href="img/nature/foxglove.jpg"
      title="<h4>Foxglove</h4>">
      <img alt="" class="image-responsive grid-img-lg" src="img/nature/thumbs/foxglove.jpg" />
    </a>

    <a href="img/nature/crescent_city_sunset.jpg"
      title="<h4>Crescent City Sunset</h4><p>Crescent City, California</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/nature/thumbs/crescent_city_sunset.jpg" />
    </a>

    <a href="img/nature/mt_scott.jpg"
      title="<h4>Mt. Scott</h4><p>Southern Oregon, viewed from Crater Lake.</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/nature/thumbs/mt_scott.jpg" />
    </a>

    <a href="img/nature/orange_leaf.jpg"
      title="<h4>Orange Leaf on the Shore</h4><p>Iron Springs Resort, Washington.</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/nature/thumbs/orange_leaf.jpg" />
    </a>

    <a href="img/nature/joshua_tree.jpg"
      title="<h4>Joshua Tree</h4><p>Joshua Tree National Park, California</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/nature/thumbs/joshua_tree.jpg" />
    </a>

    <a href="img/nature/palm_trunks.jpg"
      title="<h4>Palm Trunks</h4><p>Jopshua Tree National Park, California</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/nature/thumbs/palm_trunks.jpg" />
    </a>

</div>
