<div id="lightgallery" class="container">

  <a href="img/other/66_courts.jpg"
      title="<h4>The Abandoned 66 Courts Motel Along Old Route 66</h4><p>Groom, Texas</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/other/thumbs/66_courts.jpg" />
  </a>

  <a href="img/other/2000_roadside.jpg"
      title="<h4>2000 Roadside Still Life</h4></p>Austin</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/other/thumbs/2000_roadside.jpg" />
  </a>

  <a href="img/other/electric_voice.jpg"
      title="<h4>Electric Voice</h4><p>Austin.  Text taken from Walt Whitman's poem <i>Song at Sunset</i></p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/other/thumbs/electric_voice.jpg" />
  </a>

  <a href="img/other/g34.jpg"
      title="<h4>Graffiti Near Guadalupe and 34th</h4><p>Austin</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/other/thumbs/g34.jpg" />
  </a>

  <a href="img/other/space_needle_sunset.jpg"
      title="<h4>Space Needle Sunset</h4><p>Seattle</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/other/thumbs/space_needle_sunset.jpg" />
  </a>

  <a href="img/other/undisturbed.jpg"
      title="<h4>Undisturbed</h4><p>Text from Walt Whitman's poem <i>Give Me the Splendid Silent Sun</i></p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/other/thumbs/undisturbed.jpg" />
  </a>

  <a href="img/other/chihuly.jpg"
      title="<h4>Chihuly</h4><p>Seattle</p>">
      <img alt="" class="image-responsive grid-img-lg" src="img/other/thumbs/chihuly.jpg" />
  </a>

</div>
