<div id="lightgallery" class="container">
  <a href="img/travel/cathedral.jpg">
      <img src="img/travel/thumbs/cathedral.jpg" />
  </a>

  <a href="img/travel/hawaii_sunset.jpg">
      <img src="img/travel/thumbs/hawaii_sunset.jpg" />
  </a>

  <a href="img/travel/human_will.jpg">
      <img src="img/travel/thumbs/human_will.jpg" />
  </a>

  <a href="img/travel/mucha.jpg">
      <img src="img/travel/thumbs/mucha.jpg" />
  </a>

  <a href="img/travel/zizkov.jpg">
      <img src="img/travel/thumbs/zizkov.jpg" />
  </a>
</div>
