<div id="lightgallery" class="container">
  <a href="img/travel/cathedral.jpg"
    title="<h4>St. Louis Cathedral</h4><p>New Orleans</p>">
    <img alt="" class="image-responsive grid-img-lg" src="img/travel/thumbs/cathedral.jpg" />
  </a>

  <a href="img/travel/hawaii_sunset.jpg"
    title="<h4>Sunset</h4><p>Hawaii</p>">
    <img alt="" class="image-responsive grid-img-lg" src="img/travel/thumbs/hawaii_sunset.jpg" />
  </a>

  <a href="img/travel/human_will.jpg"
    title="<h4>Human Will</h4><p>Berlin</p>">
    <img alt="" class="image-responsive grid-img-lg" src="img/travel/thumbs/human_will.jpg" />
  </a>

  <a href="img/travel/zizkov.jpg"
    title="<h4>Zizkov Tower<p>Prague</p>">
    <img alt="" class="image-responsive grid-img-lg" src="img/travel/thumbs/zizkov.jpg" />
  </a>

  <a href="img/travel/liberty.jpg"
    title="<h4>Liberty<p>NYC</p>">
    <img alt="" class="image-responsive grid-img-lg" src="img/travel/thumbs/liberty.jpg" />
  </a>

  <a href="img/travel/nyc_church.jpg"
    title="<h4>NYC Church">
    <img alt="" class="image-responsive grid-img-lg" src="img/travel/thumbs/nyc_church.jpg" />
  </a>

  <a href="img/travel/toynbee.jpg"
    title="<h4>Toynbee tile<p>NYC.</p><p>If you haven't heard of Toynbee tiles, you should look them up.  The story behind them is fascinating.">
    <img alt="" class="image-responsive grid-img-lg" src="img/travel/thumbs/toynbee.jpg" />
  </a>

  <a href="img/travel/crater_lake.jpg"
    title="<h4>Crater Lake</h4><p>Oregon</p><p>Yes, these young men were sitting close enough to the edge that it made me nervous.  They survived, though.</p>">
    <img alt="" class="image-responsive grid-img-lg" src="img/travel/thumbs/crater_lake.jpg" />
  </a>

  <a href="img/travel/joshua_tree_highwire.jpg"
    title="<h4>Joshua Tree Highwire</h4><p>Ryan Mountain, Joshua Tree National Park, California</p>">
    <img alt="" class="image-responsive grid-img-lg" src="img/travel/thumbs/joshua_tree_highwire.jpg" />
  </a>

</div>
